@import url('https://fonts.googleapis.com/css2?family=Inter:wght@459;500&display=swap');
::-webkit-scrollbar{width: 14px}
::-webkit-scrollbar-track{background-color: #fff}
::-webkit-scrollbar-thumb{
    border-radius: 30px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    background: linear-gradient(180deg, rgba(178,31,247,1) 4%, rgba(104,120,246,1) 62%, rgba(33,204,245,1) 96%);;
}